<style>
iframe {
  width: 400px;
  height: 200px;
}
</style>

<h1>youtube slide test</h1>
<div class='container'></div>

<script src="https://www.youtube.com/iframe_api"></script>


<script>
// 2. This code loads the IFrame Player API code asynchronously.
  var tag = document.createElement('script');

  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
  
  function onReady(event) {
    console.log('onReady',event)
    event.target.playVideo()
  }
  function onStateChange(event) {
   
    if(event.data==YT.PlayerState.ENDED) {
      console.log("stopped, next slide should be here")
    }
    console.log(event)
  }

  function onYouTubeIframeAPIReady() {
    
    var slide = {
      youtube: {
        video_id: "<%= @slide.youtube_video_id %>",  
      }      
    }
    
    ReactDOM.render(React.createElement(Slide, {slide: slide, i:1}), $(".container")[0])    
    
    window.player = new YT.Player('youtube-slide-1', {
      events: { onReady: onReady, onStateChange: onStateChange }
    })
  }

</script>      

<button onclick='player.playVideo()'>play</button>
<button onclick='player.pauseVideo()'>pause</button>