.nested-fields{style:"margin-bottom:40px"}
  .row
    .col-sm-6
      = f.input :caption, input_html: { style: "vertical-align:top;width:100%;"}
    .col-sm-2
      = f.input :image
    .col-sm-2  
      = f.input :audio
    .col-sm-2  
      = link_to_remove_association "<i class='fa fa-2x fa-remove color-red margin-top-sm'></i>".html_safe, f