%div{style:"padding:20px"}
  Code for embeding:
  <textarea class="form-control">
  = "<iframe width='980' height='640' src='/tales/<%= @tale.id %>' frameborder='0' scrolling='0'></iframe>"
  </textarea>
