%div{style:"padding:20px"}
  .col-sm-4
    %input#id{type: :hidden, value: @tale.id}
    width:
    %input#width.form-control{type: :number, style: "width:80px;display:inline-block",value: 960}
    px
    height:
    %input#height.form-control{type: :number, style: "width:80px;display:inline-block", value: 640}
    px
  .col-sm-8
    Code for embeding:
    %textarea#code.form-control{readonly: true,rows:4}

    %br
  #preview
