%h1 Listing tales

%table
  %thead
    %tr
      %th title
      %th

  %tbody
    - @tales.each do |tale|
      %tr
        %td= tale.name
        %td= link_to 'Show', tale

%br

-#= link_to 'New Tale', new_tale_path
