<script>
  $(function() {

    YARNTALE.slides = [
      <% @tale.slides.each do |slide| %>
      {
        image: "<%= slide.image.url %>",
        audio: "<%= slide.audio.url %>",
        caption: "<%= slide.caption %>"
      },
      <% end %>
    ]


    YARNTALE.attach_to(".yarntale").setSlideIndex(0)

  })
</script>


<div style="width: 980px;margin:0 auto;">

  <div class="yarntale" style="margin:0 auto;">
    <div class="nav prev"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
    <div class="nav next"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
  </div>

  <br>
  <button class="btn btn-default" onclick="YARNTALE.start()">start</button>
  <button class="btn btn-default" onclick="YARNTALE.pause()">pause</button>
</div>