<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<script src="http://code.jquery.com/ui/1.8.21/jquery-ui.min.js"></script>
<script src="/jquery.touchpunch.js"></script>

<script>
$(function() {
  $(".sortable").sortable()
})
</script>

<div class="sortable">
  <div>first</div>
  <div>second</div>
  <div>third</div>
</div>