%div{style:"width:400px;margin: 0 auto;border-bottom: 1px solid white;text-align:center;color:white;margin-top:100px;"}
  %div{style:"font-size:90px;display: inline-block;"}
    yarntale.
  %div{style:"clear:both"}
  %div.pull-right{style:"margin-top:-20px;padding:0 40px;"}
    stories. ideas. sharing.
  %div{style:"clear:both"}
%div{style:"width:400px;margin: 0 auto;"}
  %div{style:"display:inline-block;width:50%;border-right:1px solid white;padding:40px;"}
    %a.btn-white-on-black{href: new_user_registration_path}
      Join
  %div{style:"display:inline-block;width:40%;padding:40px;"}
    %a.btn-white-on-black{href: new_user_session_path}
      Login
%div{style:"border-top: 1px solid white;text-align:center;padding:60px;"}
  %a.btn-white-on-black
    Explore