<img id="image" src="/1.jpg" style="height:600px">



<audio id="song" src="/1.mp3"></audio>

<input type="range" id="seek" value="0" max=""/>

<button class="btn" id="play">play</button>
<button class="btn" id="stop">stop</button>


<script>

  $(function() {
    var song = $("#song")[0]

    $("#seek").bind("change", function () {
      song.currentTime = $(this).val();
    });

    song.addEventListener('timeupdate', function () {
      $("#seek").attr("max", song.duration);
      $('#seek').val(song.currentTime);

      var image_i = 1+Math.round(2.0*(song.currentTime/song.duration))

      $("#image").attr("src",image_i+".jpg")


    });

    $("#play").click(function() {
      song.play()
    })

    $("#stop").click(function() {
      song.pause()
    })
  })

</script>