/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require font-awesome
 *= require_self
 *= require style-classes
 *= require yarntale
 */

.sort-handle {
    padding: 0 5px;
}
i.sort-handle:hover {
    color: #000 !important;
}


body.devise_registrations, body.devise_sessions {
  .wrapper {
   width: 320px;
   margin: 0 auto;
  }
}


body.tales.index, body.tales.edit, body.tales.new  {
  padding: 20px;
}
