/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require font-awesome
 *= require_self
 *= require style-classes
 *= require yarntale
 *= require fontselect
 *= require mobile
 */

.sort-handle {
    padding: 0 5px;
}
i.sort-handle:hover {
    color: #000 !important;
}


body.users_registrations, body.users_sessions {
  .wrapper {
   width: 320px;
   margin: 0 auto;
  }
}


body.desktop {
  &.tales.index, &.tales.edit, &.tales.new  {
    .yield {
      padding: 20px;
    }
  }
}

.player-wrap {
    audio {
      margin: 0;
    }
    position:relative;
    top:10px;
    width:205px;
    overflow: hidden;
    direction: ltl;
    border-top-right-radius: 0.5em 0.5em;
    border-top-left-radius: 0.5em 0.5em;
    border-bottom-right-radius: 1em 0.7em;
    border-bottom-left-radius: 1em 0.7em;
}

h1 {
  margin-top: 0px;
}

.padding {
  padding: 20px;
}

.youtube_thumb img {
  height: 60px;
}

.flash_messages {
  z-index: 10;
  top: 10px;
  left: 10px;
  position: fixed;
  .close {
    margin-left: 20px;
  }
}


body.desktop.devise_sessions {
  .flash_messages {
    right: 10px;
    left: auto;
  }
}