//*= require bootstrap
//*= require font-awesome


$timeline-height: 50px;


.yarntale {

  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  position: relative;
  background: #000;
  width: 100%;

  .sensor {
    position: absolute;
    z-index: 2;

    &.bottom {
      width: 100%;
      bottom: 0px;
      height: 30%;
      &:hover {
        .volume_sensor {
          height: $timeline-height + 100px;
          .volume {
            height: $timeline-height;
            transition: height 0.15s ease-out;
          }
        }
      }

      .volume_sensor {
        width: $timeline-height;
        position: absolute;
        right: $timeline-height;
        bottom: 0px;
        height: 0px;
        overflow: hidden;
        z-index: 3;
        display: block;
        .volume_slider {
          display: none;
          position: relative;
          background: #888;
          margin-top: 5px;
          height: calc( 100% - #{$timeline-height} - 5px);
          z-index: 3;
          .button {
            width: 100%;
            height: 20px;
            position: absolute;
            background: white;
            cursor: pointer;
            z-index: 4;
          }
          .line {
            width: 4px;
            margin: 0 auto;
            top: 5px;
            height: calc(100% - 10px);
            background: #000;
            position: relative;
            z-index: 3;
          }
        }
        .volume {
          position: absolute;
          width: 50px;
          height: 0px;
          transition: height 0.15s ease-out;
          line-height: $timeline-height;
          font-size: 250% !important;
          padding: 0px 12px;
          bottom: 0px;
          color: #eee;

          &:hover {
            cursor: pointer;
            i {
              color: white;
            }
          }
        }
        &:hover {
          .volume_slider {
            display: block;
          }
        }
      }
      .caption {
        &.disabled {
          display: none;
        }
        .text {
          padding: 10px;
          width:100%;
          bottom: 0;
          position: absolute;
          color: white;
          font-size: 14px;
          font-weight: bold;
           text-shadow:
           -1px -1px 0 #000,
           1px -1px 0 #000,
           -1px 1px 0 #000,
           1px 1px 0 #000;
          background: rgba(0,0,0,0.3);
          &:empty {
            display: none;
          }
        }
        //background: rgba(0,0,0,0.5);
        position: absolute;
        bottom: 0px;
        transition: bottom 0.15s ease-out;
        width: 100%;
        height: 50%;
      }

      .timeline {
        height: $timeline-height;
        line-height: $timeline-height;
        font-size: $timeline-height;
        display: block;
        background: rgba(0,0,0,0.8);
        overflow-x: hidden;
        overflow-y: hidden;
        height: 0 !important;
        transition: height 0.15s ease-out;
        width: 100%;
        position: absolute;
        bottom: 0px;

        .control {
          position: relative;
          display: inline-block;
          float: left;
          font-size: 50%;
          width: $timeline-height*1.2;
          bottom: 0px;
          left: 0px;
          padding-left: $timeline-height/2;
          cursor: pointer;
          height: 100%;
          vertical-align: middle;
          margin: 0;
          div {
            color: white;
          }
          .play {
            display: block;
          }
          .pause {
            display: none;
          }
        }

        .slides_line_nav {
          position: relative;
          width: $timeline-height/2;
          display: inline-block;
          float: left;
          font-size: 80%;
          height: 100%;
          &.next {
            padding-left: 10px;
          }
          i {
            text-shadow:
                    -1px -1px 0 #000,
                    1px -1px 0 #000,
                    -1px 1px 0 #000,
                    1px 1px 0 #000;

          }
          &:hover {
            cursor: pointer;
            i {
              color: white;
            }
          }
        }

        .slides {
          position: relative;
          overflow: hidden;
          height: 100%;
          width: calc(100% - #{$timeline-height*1.2} - #{$timeline-height/2} - #{$timeline-height/2} - #{$timeline-height} - #{$timeline-height});
          float: left;
          .platform {
            transition: margin-left 0.10s ease-out;
            position: relative;
            white-space: nowrap;
            height: 100%;
            .slide {
              border: 4px solid #2E2F30;
              cursor: pointer;
              display: inline-block;
              vertical-align: top;
              margin: 0px 2px;
              width:  $timeline-height*3/2;
              height: $timeline-height;
              overflow: hidden;
              video {
                object-fit: cover;
                width:  $timeline-height*3/2 - 8px;
                height: $timeline-height - 8px;
              }
              &.current {
                border: 4px solid #EFEFEF !important;
              }
            }
          }
        }

        .cc {
          &.disabled {
            color: #888;
          }

          width: $timeline-height;
          position: absolute;
          font-size: 45%;
          height: 100%;
          text-align: center;
          padding: 0 10px;
          color: white;
          cursor: pointer;
          bottom: 0px;
          right: 0px;
        }

      }

      &:hover {
        .caption {
          bottom: $timeline-height;
          transition: bottom 0.15s ease-out;
        }
        .timeline {
          height: $timeline-height !important;
          transition: height 0.15s ease-out;
        }
      }
    }

    &.top {
      width: 50%;
      height: 70%;
      &:hover {
        > .nav {
          visibility: visible;
          opacity: 0.8;
          transition: visilibity 0s, opacity 0.15s ease-out;
        }
      }
      > .nav {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        transition: visilibity 0s, opacity 0.15s ease-out;

        top: 40%;
        padding: 2%;
        &.next {
          right: 10px;
        }
        i {
          cursor: pointer;
          font-size: 120px;
          text-shadow:
                  -1px -1px 0 #000,
                  1px -1px 0 #000,
                  -1px 1px 0 #000,
                  1px 1px 0 #000;
          color: #fff;
        }
      }
      &.right {
        right: 0px;
      }
      &.left {
        left: 0px;
      }
    }
  }

  .slides_wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    video.slide {
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
    }

    .slide {
      display: block;
      opacity: 0;
      transition: opacity 0.2s;
      position: absolute;
      z-index: 1;
      width: 100%;
      &.active {
        display: block;
        opacity: 1;
        transition: opacity 0.2s;
      }
    }
  }

}
