.yarntale {
  position: relative;
  background: #DADADA;
  width: 960px;
  height: 640px;
  > .slide {
    width: 100%;
  }
  .timeline {
    background: #999999;
    height: 140px;
    width: 960px;
    position: absolute;
    bottom: 0px;

    .slide {
      height: 140px;
      cursor: pointer;
    }
  }
}