//*= require bootstrap
//*= require font-awesome

.yarntale {

  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  position: relative;
  background: #fff;
  width: 960px;
  height: 640px;


  .sensor {
    position: absolute;

    &.bottom {
      width: 100%;
      bottom: 0px;
      height: 30%;
      &:hover {
        .volume_sensor {
          display: block;
        }
      }

      .volume_sensor {
        width: 50px;
        position: absolute;
        right: 65px;
        bottom: 0px;
        height: 190px;
        z-index: 3;
        display: none;
        .volume_slider {
          display: none;
          position: relative;
          background: #888;
          margin-top: 5px;
          height: 88px;
          z-index: 3;
          .button {
            width: 100%;
            height: 20px;
            position: absolute;
            background: white;
            cursor: pointer;
            z-index: 4;
          }
          .line {
            width: 4px;
            margin: 0 auto;
            top: 5px;
            height: calc(100% - 10px);
            background: #000;
            position: relative;  
            z-index: 3;    
          }
        }
        .volume {
          position: absolute;
          width: 50px;
          height: 96px;
          line-height: 100px;
          font-size: 40px;
          padding: 0px 12px;
          bottom: 0px;
          color: #eee;

          &:hover {
            cursor: pointer;
            i {
              color: white;
            }
          }
        }        
        &:hover {
          .volume_slider {
            display: block;
          }
        }
      }
      .caption {
        &.disabled {
          display: none;
        }
        background: rgba(0,0,0,0.5);
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 50%;
        color: white;
        padding: 10px;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
        font-weight: bold;
        font-size: 14px;
      }

      .timeline {
        display: none;
        background: rgba(0,0,0,0.8);
        overflow-x: hidden;
        overflow-y: hidden;
        height: 50%;
        width: 100%;
        position: absolute;
        bottom: 0px;

        .control {
          position: relative;
          display: inline-block;
          float: left;
          width: 100px;
          bottom: 0px;
          left: 0px;
          font-size: 55px;
          padding: 0 20px;
          cursor: pointer;
          height: 100%;
          line-height: 100px;
          vertical-align: middle;
          margin: 0;
          div {
            color: white;
          }
          .play {
            display: block;
          }
          .pause {
            display: none;
          }
        }

        .slides_line_nav {
          position: relative;
          width: 50px;
          display: inline-block;
          float: left;
          font-size: 40px;
          height: 100%;
          line-height: 100px;
          i {
            text-shadow:
                    -1px -1px 0 #000,
                    1px -1px 0 #000,
                    -1px 1px 0 #000,
                    1px 1px 0 #000;

          }
          &:hover {
            cursor: pointer;
            i {
              color: white;
            }
          }
        }

        .slides {
          position: relative;
          overflow: hidden;
          height: 100%;
          width: calc(100% - 300px);
          float: left;
          .platform {
            position: relative;
            white-space: nowrap;
            img.slide {
              border: 4px solid #2E2F30;
              width: 140px;
              cursor: pointer;
              display: inline-block;
              margin: 0px 2px;
              &.current {
                border: 4px solid #EFEFEF;
              }
            }
          }
        }


        .cc {
          &.disabled {
            color: #888;
          }
          width: 40px;
          position: absolute;
          font-size: 30px;
          line-height: 100px;
          height: 100%;
          text-align: center;
          margin: 0 10px;
          color: white;
          cursor: pointer;
          bottom: 0px;
          right: 0px;
        }

      }

      &:hover {
        .caption {
          bottom: 50%;
        }
        .timeline {
          display: block;
        }
      }
    }

    &.top {
      width: 50%;
      height: 70%;
      &:hover {
        > .nav {
          display: block;
        }
      }
      > .nav {
        display: none;
        position: absolute;
        opacity: 0.8;
        top: 40%;
        padding: 2%;
        &.next {
          right: 10px;
        }
        i {
          cursor: pointer;
          font-size: 80px;
          text-shadow:
                  -1px -1px 0 #000,
                  1px -1px 0 #000,
                  -1px 1px 0 #000,
                  1px 1px 0 #000;
          color: #fff;
        }
      }
      &.right {
        right: 0px;
      }
      &.left {
        left: 0px;
      }
    }
  }

  .cur_slide {
    width: 100%;
  }


}