%link{:href => "/app-icon.png", :rel => "icon", :type => "image/png"}/
%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
%title Yarntale
%meta{:content => "#387ef5", :name => "theme-color"}/
%meta{:content => "width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0", :name => "viewport"}
%meta{name:"apple-mobile-web-app-capable",content: "yes"}
%link{:href => "/app-icon.png", :rel => "apple-touch-icon", :sizes => "114x114"}
= csrf_meta_tags
