!!!
%html
  %head
    = render "layouts/head.mobile"
    = stylesheet_link_tag    'application.mobile', media: 'all'
    = javascript_include_tag 'application.mobile_app'
  %body{:class => "mobile #{[params[:controller].gsub("/","_"),params[:action]].compact.join(" ")}"}
    %audio#mobile-click{:src => "/mobile-click.wav"}
    .yield.ionic-body
      #root