<!DOCTYPE html>
<html>
<head>
  <title>Yarntale</title>
  <%= stylesheet_link_tag    'yarntale', media: 'all' %>
  <%= javascript_include_tag 'yarntale' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
